:root {
    --branco-1: #FFFFFF;
    --branco-2: #aaaaaa;
    --amarelo-1: #ffff88;
    --preto-1: #121314;
    --preto-2: #171819;
    --background-color: var(--preto-2);
    --foreground-color: var(--branco-1);
    --flair: var(--amarelo-1);
}

* {
    margin: 0;
    padding: 0;
}

.hidden{
    display: none;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vdh;
    background-color: var(--background-color);
    color: var(--foreground-color);
    font-size: 24px;
}

h1 {
    font-size: 3rem;
    line-height: 10rem;
    color: var(--flair);
}

h1>span{
    position: absolute;
    margin-left: 1rem;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    width: 100%;
    font-style: normal;
    box-sizing: border-box;
    background-color: var(--preto-1);
}


#header_site_name {
    display: inline;
    font-size: 1rem;
    color: var(--branco-2);
    width: auto;
    text-wrap: nowrap;
    width:25%;
    text-align: left;
}

#header_mistery_name {
    display: inline-block;
    font-size: 1rem;
    width: 100%;
}

.header_link{
    display: inline;
    width:25%;
    text-align: right;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    min-height: 90dvh;
    padding: 0 2rem;
    box-sizing: border-box;
}

a {
    color: var(--branco-2);
}

.sets_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    width: 100%;
    gap: 1rem;
}

.specific_set_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.daily_set_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}

.button_set{
    height: 10dvh;
    background-color: transparent;
    color: var(--foreground-color);
    font-size: 1rem;
}

.button_set:hover{
    scale: 1.07;
}

.button_set>span{
    font-size: .7rem;
}

.daily_set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 16rem;
}

.help_button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    height: 9dvh;
}

.specific_set {
    width: 90%;
}

#old-site {
    font-size: 1rem;;
}